body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #2196f3;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: -20px;
  margin-top: -10px;
  margin-right: -20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 20;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav button {
  background-color: #fff;
  color: #2196f3;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
div {
  margin: 10px 10px;
}
h1, h2, h3, h4 {
  font-weight: bolder;
}

h2 {
  margin-top: 30px;
}
h4 {
  margin-left: 20px;
  font-weight: bolder;
}


label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

input[type="text"], textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1976d2;
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    width: 50%;
  }

  input[type="text"], textarea {
    width: 100%;
  }
}
